<!-- This is a first example of using a template -->
<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Data-Driven website</title>

        <!-- include our libraries and css files -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/assignment.css" rel="stylesheet">
    </head>
    <body ng-controller="myController" class="container">
        <h4 class="text-center text-success">Zoo Dictionary</h4>

        <div class="panel panel-default" ng-repeat="item in items">
            <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                <div class="container center-panel">
                    <p class="lead center-text">{{item.name}}</p>
                </div>
            </div>
            <div class="panel-body" uib-collapse="isCollapsed">
                <div class="row" ng-repeat="animal in item.animals">
                    <div class="container">
                        <div class="col-md-12 animal-description">
                            <h3 class="text-primary">
                                {{animal.name}}
                            </h3>
                            <p>
                                {{animal.description}}
                            </p>
                        </div>
                        <div class="container row">
                            <div class="col-md-4">
                                <img class="img-thumbnail img-responsive image" ng-src="{{animal.image1}}">
                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail img-responsive image" ng-src="{{animal.image2}}">
                            </div>
                        </div>
                    </div>
                    <hr ng-if="$index !== 3">
                </div>
            </div>
        </div>

        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.2.min.js"></script>
        <script src="js/assignment.js"></script>
    </body>
</html>
