/* put your css code here */

.animalDescription {
    border: 1px solid #F8F8FF;
}

.center-panel {
    height: 100%;
    display:table;
    width: 100%;
    padding: 0;
}

.center-text {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
